//
//  Project_Debug.xcconfig
//  Copyright © 2016 Hootsuite. All rights reserved.
//

#include "Project_Base.xcconfig"

ONLY_ACTIVE_ARCH = YES

DEBUG_INFORMATION_FORMAT = dwarf

ENABLE_TESTABILITY = YES

CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Developer

GCC_OPTIMIZATION_LEVEL = 0

GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1 $(inherited)

SWIFT_OPTIMIZATION_LEVEL = -Onone

MTL_ENABLE_DEBUG_INFO = YES